NEXT_PUBLIC_APP_URL=https://teachnotes.fyi
NEXT_PUBLIC_SUPABASE_URL=https://api.teachnotes.fyi
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=<generated-publishable-key>
SUPABASE_INTERNAL_URL=http://kong:8000
TEACHNOTES_LOGIN_USERNAME=<private-username>
TEACHNOTES_LOGIN_EMAIL=<owner-backing-email>
NEXT_SERVER_ACTIONS_ENCRYPTION_KEY=<openssl-rand-base64-32>
